<!-- The 404 template, shown when the user visits a page that can't be found -->

<article class="not-found">
  <!-- Show the 404 message the user has chosen -->
  <p>{{ strings.page_not_found }}</p>
</article>
