<!-- List of social media links (Twitter, Facebook, etc) -->
<ul>
  {{# each social_links }}
    <li>
      <a href="{{ link_url }}" target="_blank">
        {{ link_title }}
      </a>
    </li>
  {{/ each }}
</ul>
