<!-- Generic page template, shown when a user visits a page like "About us"
or "Contact us". Also shown in certain other circumstances, as in when Podiant
needs to show aribrary content at a specific URL -->

<!-- Add a top section with the title of the page -->
<section class="site-blocks-cover overlay inner-page-cover"{{# if podcast_banner_image }} style="background-image: url('{{ podcast_banner_image }}');"{{/ if }} data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
        <h2 class="text-white font-weight-light mb-2 display-4">{{ object.title }}</h2>
      </div>
    </div>
  </div>
</section>

<main id="main" class="container site-section">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <!-- Use three braces to ensure content that contains HTML displays correctly -->
      {{{ object.description }}}
    </div>
  </div>
</main>
